:root {
  --default-color: orange;
  --bg-color: white;
  --font-color: black;
}

html {
  scroll-behavior: smooth;
  min-height: 100%;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
  min-height: 100% !important;
}

ul {
  margin: 0 !important;
  padding: 0 !important;
}
a{
  color:orange;
}

nav a{
  color: blue;
}

header {
  width: 100%;
  background-color: beige;
  z-index: 10000;
  color: black;
  height: 10vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px 0px 0px;
}

header h2 {
  margin: 0;
}

#logo {
  width: 50px;
  border-radius: 100%;
}

.wrapper {
  padding-top: 10vh;
  height: 100% !important;
}

.logo {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-left: 10px;
}
.logo-name {
  font-size: 3vmin;
}

* {
  margin: 0;
  padding: 0%;
  list-style: none !important;
  text-decoration: none !important;
  box-sizing: border-box;
}

nav {
  display: flex;
  align-items: center;
  height: 100%;
}

nav > ul {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
  flex-wrap: wrap;
}

.container {
  display: flex;
  height: 90vh;
  background-color: blue;
}

.slide {
  max-height: 90vh;
}

@media screen and (max-width: 800px) {
  nav > ul {
    display: none;
  }
  nav {
    display: none;
    height: 0;
  }

  .courts-link {
    font-size: 15px !important;
  }

  nav.active > ul {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  nav.active {
    display: flex;
    height: fit-content;
    flex-direction: column;
    position: absolute;
    top: 10vh;
    background-color: beige;
    width: 100vw;
  }

  .fa-bars,
  .fa-times {
    display: block !important;
  }

  .footer {
    flex-direction: column;
  }
  .footer > ul {
    text-align: center;
  }

  .blogPostsHomepage {
    display: flex !important;
    flex-direction: column;
  }

  .blogPostsHomepage .blogPost {
    border-right: 2px solid orange !important;
    border-bottom: 0 !important;
  }

  .blogPostsHomepage .blogPost:last-child {
    border-bottom: 2px solid orange !important;
  }

  .teamliste_card{
    width: 90%;
  }
}

.blogPostDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fa-bars {
  display: none;
  font-size: 2.5rem;
  cursor: pointer;
}

.fa-times {
  color: red;
  font-size: 2.5rem;
  cursor: pointer;
  display: none;
}

.slideimg {
  width: 100%;
  z-index: -1;
  position: relative;
  min-height: 250px;
  pointer-events: none;
}

.slide .main-link {
  position: absolute;
  top: 11vh;
  right: 10px;
  z-index: 1000;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 2px 2px black;
}

.willkommenstext {
  background-color: var(--bg-color);
  padding: 20px;
  padding-top: 10vh;
}

.sitemap {
  width: 100%;
  background-color: var(--bg-color);
  display: flex;
  padding-top: 10vh;
}

.sitemap-card {
  display: flex;
  flex-direction: column;
}

.sitemap-card button {
  border-radius: 0 !important;
}

.sitemap-img {
  width: 100%;
}

.sitemap-link {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

footer {
  padding: 30px;
  padding-bottom: 0 !important;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 0;

  width: 100%;
  align-items: center;
  justify-content: space-between;
}
footer p {
  color: grey;
  padding: 0 !important;
  padding-top: 10px !important;

  margin: 0 !important;
}

.termine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.termine-funktion > button {
  width: 2rem;
  border-radius: 0 !important;
}

.termine-funktion {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.terminerstellen,
.add-galerie-bild {
  width: 100%;
  padding: 10px;
  height: fit-content;
  border: 3px var(--default-color) solid;
  margin-top: 5px;
  position: fixed;
  bottom: 0;
  background-color: white;
  z-index: 1000000;
}



.modal-dialog {
  margin-top: calc(10vh + 0.5rem);
}

.modal-header > button > span {
  font-size: 2rem;
}

.blogPosts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 10vh;
  padding: 5px;
}

.blogPostsHomepage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 10vh;
  padding: 5px;
  width: 100%;
  background-color: white;
  z-index: 100;
}

.blogPostsHomepage .blogPost {
  border-left: 2px solid var(--default-color);
  border-top: 2px solid var(--default-color);
  border-bottom: 2px solid var(--default-color);
  padding: 5px;
}

.blogPostsHomepage .blogPost:last-child {
  border-right: 2px solid orange !important;
}

.blogPostsHomepage .blogPost .blogPosts-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.blogPost {
  justify-self: center;
}

.courts-link {
  color: orange;
  font-size: 30px;
}

.blogPost-funktion {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.blogPosts-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blogPostDetail {
  padding: 5px;
}

.galerie {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.galerie-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.teamliste{
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.teamliste_card{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.teamliste_info{
  display: flex;
  flex-direction: column;
}

.team_images{
  width: 10vw;
}
.nexttermin {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.termine-card{
  display: flex;
  flex-direction: column;
}
