:root {
  --default-color: orange;
  --bg-color: white;
  --font-color: black;
}

html {
  scroll-behavior: smooth;
  min-height: 100%;
  --hover-color: orangered;
  --focus-color: red;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
  min-height: 100% !important;
}

ul {
  margin: 0 !important;
  padding: 0 !important;
}
a {
  color: var(--default-color);
}

a:focus {
  color: var(--focus-color);
}

a:hover {
  color: var(--hover-color);
}

.nohovernofocus:hover,
.nohovernofocus:focus {
  color: var(--default-color) !important;
}

nav a {
  color: #136bc2;
  font-size: 1.3rem;
}

header {
  width: 100%;
  background-color: var(--default-color);
  z-index: 10000;
  color: var(--font-color);
  height: 10vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px 0px 0px;
  gap: 15px;
}

header h2 {
  margin: 0;
}

#logo {
  width: 100px;
}

.wrapper {
  padding-top: 10vh;
  height: 100% !important;
}

.logo {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-left: 10px;
  flex-grow: 1;
  flex-basis: 0;
}
.logo_name {
  font-size: 3vmin;
}

* {
  margin: 0;
  padding: 0%;
  list-style: none !important;
  text-decoration: none !important;
  box-sizing: border-box;
}
::selection {
  color: black;
  background: var(--default-color);
}

nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-basis: 0;
  height: 100%;
}

nav > ul {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

.container {
  display: flex;
  height: 90vh;
  background-color: blue;
}

.slide {
  max-height: 90vh;
  min-height: calc(initial + 10vh);
}

.hidden {
  display: none !important;
}

.galerie_kein_bild {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
  scale: 0.5;
  z-index: -1;
}

.blog_post_detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#filterreset{
  display: none;
}

#filterreset.active{
  display: inline;
  width: fit-content;
}

.fa-bars {
  display: none;
  font-size: 2.5rem;
  cursor: pointer;
  flex-grow: 1;
  flex-basis: 0;
  justify-content: flex-end;
}

.wrapper>h1{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 0;
}

.fa-times {
  color: red;
  font-size: 2.5rem;
  cursor: pointer;
  display: none;
  flex-grow: 1;
  flex-basis: 0;
  justify-content: flex-end;
}

.slide_bild {
  width: 100%;
  z-index: -1;
  position: relative;
  min-height: 250px;
  pointer-events: none;
}

.slide .main_link {
  position: absolute;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 2px 2px var(--font-color);
  width: 100%;
  top: 0;
  text-align: center;
  height: 100%;
}

.willkommenstext {
  background-color: var(--bg-color);
  padding: 20px;
  padding-top: 10vh;
}

.sitemap {
  width: 100%;
  background-color: var(--bg-color);
  display: flex;
  padding-top: 10vh;
}

.sitemap_card {
  display: flex;
  flex-direction: column;
}

.sitemap_card button {
  border-radius: 0 !important;
}

.sitemap_img {
  width: 100%;
}

.sitemap_link {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

footer {
  padding: 30px;
  padding-bottom: 0 !important;
  background-color: var(--font-color);
  color: var(--bg-color);
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 0;

  width: 100%;
  align-items: center;
  justify-content: space-between;
}
footer p {
  color: grey;
  padding: 0 !important;
  padding-top: 10px !important;

  margin: 0 !important;
}

.termin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.termin_funktion > button {
  width: 2rem;
  border-radius: 0 !important;
}

.termin_funktion {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.termin_erstellen,
.galerie_bild_hinzufuegen {
  width: 100%;
  height: fit-content;
  border: 3px var(--default-color) solid;
  margin-top: 5px;
  position: fixed;
  bottom: 0;
  background-color: var(--bg-color);
  z-index: 100;
}
.galerie_bild_hinzufuegen > form,
.termin_erstellen > form {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 10px;

  gap: 5px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-right: 30px;
}
.galerie_bild_hinzufuegen p,
.termin_erstellen p {
  margin-bottom: 0 !important;
}

.modal-dialog {
  margin-top: calc(10vh + 0.5rem);
}

.modal-header > button > span {
  font-size: 2rem;
}

.blog_posts {
  display: grid;
  grid-template-columns: var(--grid-blog);
  margin-bottom: 10vh;
  padding: 5px;
  margin-bottom: 5vh;
}

.blog_post_3_grid {
  --grid-blog: repeat(3, 1fr);
}
.blog_post_2_grid {
  --grid-blog: repeat(2, 1fr);
}

.blog_post_1_grid {
  --grid-blog: repeat(1, 1fr);
}

.blog_posts_homepage {
  display: grid;
  grid-template-columns: var(--grid-blog);
  padding: 5px;
  width: 100%;
  background-color: var(--bg-color);
  z-index: 100;
}

.blog_post {
  border-left: 2px solid var(--default-color);
  border-top: 2px solid var(--default-color);
  border-bottom: 2px solid var(--default-color);
  border-right: 2px solid var(--default-color) !important;

  padding: 5px;
  width: 100%;
}



#filter {
  padding-right: 10px;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  justify-content: space-between;
}
#filter i {
  cursor: pointer;
  width: fit-content;
  color: var(--default-color);
}

.blog_filter button[type="submit"]{
  display: flex;
  justify-content: center;
  gap: .5rem;
  align-items: center;
}

.blog_filter button[type="submit"] p {
  margin-bottom: 0px;
}

#filter + .blog_filter {
  visibility: hidden;
  display: none;
}

#filter.active + .blog_filter {
  visibility: visible;
  display: inline;
}

.add input:required {
  border-color: var(--default-color);
  border-style: solid;
}

.blog_posts_homepage .blog_post .blog_post_card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.blog_post {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.courts_link {
  color: var(--default-color);
  font-size: 30px;
}

.filter {
  padding: 10px;
  z-index: 30;
  background-color: var(--bg-color);
  
  
}

.filter select {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-top-color: rgb(206, 212, 218);
  border-top-style: solid;
  border-right-color: rgb(206, 212, 218);
  border-right-style: solid;
  border-bottom-color: rgb(206, 212, 218);
  border-bottom-style: solid;
  border-left-color: rgb(206, 212, 218);
  border-left-style: solid;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.filter button{
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-clip: padding-box;
  margin-top: 1rem;
}

.blog_post_funktion {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.blog_post_card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog_post_detail {
  padding: 5px;
}

.galerie {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 10px;
  margin-bottom: 10vh;
}

.galerie_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.galerie_card img {
  height: initial;
}
.galerie_card p {
  margin: 0;
  display: inline;
}
.teamliste {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 10px 0 10px 0;
}
.teamliste p {
  margin: 0;
}
.teamliste_card {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.teamliste_info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-grow: 1;
  flex-basis: 0;
}
.teamliste_info p {
  margin: 0;
}
.team_images_div {
  flex-grow: 1;
  flex-basis: 0;
}
.team_images {
  width: 10vw;
  min-height: 10vh;
}
.naechster_termin {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 5px;
}

.naechster_termin > a {
  width: 100%;
  padding: 0 5px;
}

.naechster_termin .termin_card {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid var(--default-color);
  gap: 15px;
  width: 100%;
  justify-content: center;
  padding: 10px;
}

.termin_card {
  display: flex;
  flex-direction: column;
}

.traglufthalle {
  display: flex;
  padding-left: 10px;
  padding-bottom: 10px;
  flex-wrap: wrap;
}

.traglufthalle_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  max-width: 50%;
}

.traglufthalle img {
  height: 70vh;
  padding-right: 15px;
}

.traglufthalle_intro {
  padding-left: 15px;
}

.short_hinzufuegen {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.kommentare {
  padding: 5px;
}

.fabutton {
  background: none;
  padding: 0px;
  border: none;
}

@media screen and (max-width: 800px) {
  nav > ul {
    display: none;
  }
  nav {
    display: none;
    height: 0;
  }

  .courts_link {
    font-size: 15px !important;
  }

  nav.active > ul {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  nav.active {
    display: flex;
    height: fit-content;
    flex-direction: column;
    position: absolute;
    top: 10vh;
    background-color: var(--default-color);
    width: 100vw;
    padding-bottom: 10px;
    font-size: 1.5rem;
  }

  .fa-bars,
  .fa-times {
    display: flex !important;
  }

  .footer {
    flex-direction: column;
  }
  .footer > ul {
    text-align: center;
  }

  .blog_posts_homepage {
    display: flex !important;
    flex-direction: column;
  }
  .blog_posts {
    grid-template-columns: 1fr !important;
  }
  .blog_post {
    border-right: 2px solid var(--default-color) !important;
    border-bottom: 0 !important;
  }

  .blog_post:last-child {
    border-bottom: 2px solid var(--default-color) !important;
  }

  .teamliste_card {
    width: 90% !important;
    flex-direction: column;
    align-items: center;
  }

  .teamliste_info {
    width: initial !important;
    align-items: center !important;
  }

  .team_images {
    width: 20vw !important;
  }

  .teamliste {
    width: 100%;
  }

  .traglufthalle img {
    width: 90% !important;
    height: initial !important;
  }

  .galerie {
    grid-template-columns: 1fr !important;
    gap: 10px;
  }

  .wrapper {
    min-height: 90vh;
  }

  .galerie_card img {
    height: initial;
    width: 100%;
  }
  .galerie_card {
    height: fit-content;
    width: fit-content;
  }

  .slide {
    height: 30vh;
  }

  .slide .main_link {
    height: 30vh;
  }
}
