{% extends 'base.html' %} {% block content %} {% load static %}

<h1>Blog</h1>
<hr />
<div class="blog_posts">
      {%if blogPosts.count == 0%}
    <div class="galerie_kein_bild">
    <img style="display: block; margin-left: auto; margin-right:auto" src="{%static 'images/iconmonstr-magnifier-2-240.png'%}" alt="">
    <h1>Kein Blog Post bisher.</h1>
    </div>
    {% endif %}

  {% for blogPost in blogPosts %}
  <div class="blog_post">
    <div class="blog_post_card">
      <a style="color:black; display: flex; flex-direction: column; align-items:center" href="/blog/{{blogPost.uuid}}"><h3>{{blogPost.titel}}</h3>
      <img
      {% if blogPost.bild.url != '' %}
        src="../../static{{blogPost.bild.url}}"
        {% endif %}
        alt=""
        style="width: 40%"
      /></a>
      <p>Von {{blogPost.autor}} am {{blogPost.date}}</p>

      <p style="margin: 0;">{{blogPost.snippet}}</p>
      <a style="margin-bottom: 5px;" href="/blog/{{blogPost.uuid}}">Weiterlesen</a>

    </div>
    {% if user.is_superuser %}

    <div class="blog_post_funktion">
      <form
        action="/{{blogPost.uuid}}/blogPostbearbeiten"
        method="POST"
        enctype="multipart/form-data"
      >
        {% csrf_token %}
        <button
          type="button"
          class="btn btn-outline-primary btn-sm"
          data-toggle="modal"
          data-target="#editBlogPostModal{{blogPost.uuid}}"
        >
          <i class="fas fa-edit"></i>
        </button>

        <div
          class="modal fade"
          id="editBlogPostModal{{blogPost.uuid}}"
          tabindex="-1"
          role="dialog"
          aria-labelledby="editBlogPostModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5
                  style="color: black"
                  class="modal-title"
                  id="editBlogPostModalTitle"
                >
                  BlogPost bearbeiten
                </h5>

                <button
                  class="close"
                  style="
                    background-color: transparent;
                    outline: none;
                    border: none;
                  "
                  type="button"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <input
                  type="text"
                  name="edittitel"
                  maxlength="50"
                  required=""
                  id="id_titel"
                  value="{{blogPost.titel}}"
                />

                <input
                  type="text"
                  name="editinhalt"
                  id="id_inhalt"
                  maxlength="2000"
                  required
                  value="{{blogPost.inhalt}}"
                />
                <input type="date" name="editdate" id="id_date" />
                <input
                  type="text"
                  required
                  name="editstandort"
                  id="id_standort"
                  value="{{blogPost.standort}}"
                />
                <input type="file" name="editbild" id="id_bild" />
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >
                  Schließen
                </button>
                <button class="btn btn-primary" type="submit">
                  Bearbeiten
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>

      <form action="/{{blogPost.uuid}}/blogPostdelete" method="POST">
        {% csrf_token %}
        <button
          type="button"
          class="btn btn-outline-danger btn-sm"
          data-toggle="modal"
          data-target="#deleteBlogPostModal{{blogPost.uuid}}"
        >
          <i class="fas fa-trash"></i>
        </button>

        <div
          class="modal fade"
          id="deleteBlogPostModal{{blogPost.uuid}}"
          tabindex="-1"
          role="dialog"
          aria-labelledby="deleteBlogPostModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5
                  style="color: black"
                  class="modal-title"
                  id="deleteBlogPostModalTitle"
                >
                  BlogPost löschen
                </h5>

                <button
                  class="close"
                  style="
                    background-color: transparent;
                    outline: none;
                    border: none;
                  "
                  type="button"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <h6 style="color: black">Wirklich löschen?</h6>
                <h6 style="color: black">
                  Der Blog Post wird endgültig gelöscht und kann nicht
                  wiederhergestellt werden.
                </h6>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >
                  Schließen
                </button>
                <button class="btn btn-danger" type="submit">Löschen</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    {% endif %}
  </div>
  {% endfor %}
</div>

{% if user.is_superuser %}
<form
  action="/createblogPost"
  class="termin_erstellen"
  method="POST"
  enctype="multipart/form-data"
>
  {% csrf_token %} {{blogForm}}
    <p style="display:inline-block"> * : erforderlich</p>

  <button class="btn btn-primary btn-sm" type="submit">Erstellen</button>
</form>

{% endif %} {% endblock content %}
