{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="galerie">
    {%if galerie.count == 0%}
    <div class="galerie_kein_bild">
    <img style="display: block; margin-left: auto; margin-right:auto" src="{%static 'images/iconmonstr-magnifier-2-240.png'%}" alt="">
    <h1>Kein Bild hinzugefügt.</h1>
    </div>
    {% endif %}
    {% for bild in galerie %}
    <div class="galerie_card">

        <img width="50%" src="../static{{bild.bild.url}}" alt="">
        <p> {% if bild.standort != "" and bild.standort != None %} Bild in {{bild.standort}} v{% else %}V{% endif %}on {{bild.autor}} {% if bild.date != None and bild.date != "" %} am {{bild.date}}{% endif %} </p>
        {% if bild.beschreibung != None and bild.beschreibung != "" %}<p>{{bild.beschreibung}}</p>{% endif %}
        {% if user.is_superuser %}
            <div class="blog_post_funktion" >
      <form
        action="/{{bild.uuid}}/galeriebildbearbeiten"
        method="POST"
        enctype="multipart/form-data"
      >
        {% csrf_token %}
        <button
          type="button"
          class="btn btn-outline-primary btn-sm"
          data-toggle="modal"
          data-target="#editGalerieBildModal{{bild.uuid}}"
        >
          <i class="fas fa-edit"></i>
        </button>

        <div
          class="modal fade"
          id="editGalerieBildModal{{bild.uuid}}"
          tabindex="-1"
          role="dialog"
          aria-labelledby="editGalerieBildModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5
                  style="color: black"
                  class="modal-title"
                  id="editGalerieBildModalTitle"
                >
                  GalerieBild bearbeiten
                </h5>

                <button
                  class="close"
                  style="
                    background-color: transparent;
                    outline: none;
                    border: none;
                  "
                  type="button"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <input
                  type="text"
                  name="editbeschreibung"
                  maxlength="200"
                  id="id_beschreibung"
                  {% if bild.beschreibung == None %}value=""{% else %}
                  value="{{bild.beschreibung}}"
                  {% endif %}
                />

                
                <input type="date" name="editdate" id="id_date" />
                Standort: <input
                  type="text"
                  
                  name="editstandort"
                  id="id_standort"
                                    {% if bild.standort == None %}value=""{% else %}

                  value="{{bild.standort}}"
                  {% endif %}
                />
                <input type="file" name="editbild" id="id_bild" />
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >
                  Schließen
                </button>
                <button class="btn btn-primary" type="submit">
                  Bearbeiten
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>

      <form action="/{{bild.uuid}}/galeriebilddelete" method="POST">
        {% csrf_token %}
        <button
          type="button"
          class="btn btn-outline-danger btn-sm"
          data-toggle="modal"
          data-target="#deleteGalerieBildModal{{bild.uuid}}"
        >
          <i class="fas fa-trash"></i>
        </button>

        <div
          class="modal fade"
          id="deleteGalerieBildModal{{bild.uuid}}"
          tabindex="-1"
          role="dialog"
          aria-labelledby="deleteGalerieBildModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5
                  style="color: black"
                  class="modal-title"
                  id="deleteGalerieBildModalTitle"
                >
                  GalerieBild löschen
                </h5>

                <button
                  class="close"
                  style="
                    background-color: transparent;
                    outline: none;
                    border: none;
                  "
                  type="button"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <h6 style="color: black">Wirklich löschen?</h6>
                <h6 style="color: black">
                  Das Galerie Bild wird endgültig gelöscht und kann nicht
                  wiederhergestellt werden.
                </h6>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >
                  Schließen
                </button>
                <button class="btn btn-danger" type="submit">Löschen</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
   
    {% endif %}
            </div>

    {% endfor %}
</div>


{% if user.is_superuser %}
<div class="galerie_bild_hinzufuegen add">
    <form  id="galerie_bild_hinzufuegen_wrapper" action="/addgaleriebild" method="POST" enctype="multipart/form-data" class="hidden"
>
{% csrf_token %}
{{galerieForm}}
  <p style="display:inline-block">* : erforderlich</p>

<button type="submit" class="btn btn-primary btn-sm">Erstellen</button>
      <i style="position: absolute; right:5px; top: 5px; color: red; cursor: pointer; font-size: 20px " class="fas fa-times-circle" style="color: red" id="galerie_bild_hinzufuegen_close"></i>

</form>
 <div class="short_hinzufuegen " style="cursor: pointer;" id="galerie_bild_short_hinzufuegen">
      <i class="fas fa-plus"></i> Galeriebild hinzufügen
    </div>
</div>
{% endif %}


{% endblock content %}

{% block script %}
<script>

  close = document.getElementById('galerie_bild_hinzufuegen_close')
  show = document.getElementById('galerie_bild_short_hinzufuegen')

  close.onclick = function(){
    document.getElementById('galerie_bild_hinzufuegen_wrapper').classList.add('hidden')
    show.classList.remove('hidden')
  }
  show.onclick = function(){
      document.getElementById('galerie_bild_hinzufuegen_wrapper').classList.remove('hidden')
      show.classList.add('hidden')

  }

</script>
{% endblock script %}