{% extends 'base.html' %} {% load static %} {% block content %}
<div class="slide">
  <img class="slide_bild" name="slide" />
  <div class="main_link">
    <h1>Willkommen beim TC Hallstadt</h1>
    <a href="#willkommen"
      ><button class="btn btn-info btn-big">Legen Sie direkt los.</button></a
    >
  </div>
</div>

{% comment %} <br /><br /><br />
{% endcomment %}
<div class="willkommenstext" id="willkommen">
  Lieber Gast, <br />

  Ich darf mich vorstellen: Ich bin der TCH, was soviel heißt wie Tennisclub
  Hallstadt. „Der“ weist auf eine gewisse Männlichkeit hin, ohne damit zu sagen,
  dass bei mir nichts Liebreizendes zu finden wäre – ganz im Gegenteil!<br />

  Vom Alter her gehöre ich mit meinen 32 Jahren noch zur jüngeren Generation,
  fühle mich auch dementsprechend entwicklungsfähig und flexibel. Ich kann es
  mir weiß Gott noch nicht leisten, aus der Tradition heraus mich sicher und
  etabliert zu fühlen.<br />

  Vor kurzem habe ich mir ein neues Outfit zulegen müssen, nachdem mein
  einstiges Zuhause Feuer fing. Ich habe mich neu, und der Zeit entsprechend
  modern und attraktiv eingekleidet. Mit einem gewissen selbstbewussten Stolz
  glaube ich, vom Äußeren sehr dazu gewonnen zu haben. Mein neues Zuhause hat
  einen offenen Charakter: ein einladendes Entree führt jeden in ein mediterran
  anmutendes Inneres, von dem aus die Blicke ungehindert auf die vor ihm
  liegenden Sandplätze schweifen können. Acht an der Zahl schmiegen sie sich an
  eine Halle, welche nach wie vor ein Kernstück meines Zuhauses, fast bin ich
  geneigt Schmuckstück zu sagen, darstellt. Farblich steht Terrakotta im
  Vordergrund, obwohl Blau die eigentliche Hausfarbe, um nicht zu sagen
  Lieblingsfarbe ist. <br />

Vor kurzem habe ich mir ein neues Outfit zulegen müssen, nachdem mein einstiges Zuhause Feuer fing. Ich habe mich neu, und der Zeit entsprechend modern und attraktiv eingekleidet. Mit einem gewissen selbstbewussten Stolz glaube ich, vom Äußeren sehr dazu gewonnen zu haben. Mein neues Zuhause hat einen offenen Charakter: ein einladendes Entree führt jeden in ein mediterran anmutendes Inneres, von dem aus die Blicke ungehindert auf die vor ihm liegenden <a style="color:#bb7264 ; text-decoration:underline !important" href="/tennis/courts"> Sandplätze</a> schweifen können. Acht an der Zahl schmiegen sie sich an eine <a style="color:#bb7264; text-decoration:underline !important" href="/tennis/courts"> Halle</a>, welche nach wie vor ein Kernstück meines Zuhauses, fast bin ich geneigt Schmuckstück zu sagen, darstellt. Farblich steht Terrakotta im Vordergrund, obwohl Blau die eigentliche Hausfarbe, um nicht zu sagen Lieblingsfarbe ist. <br>

  Sie jedenfalls sind überglücklich, wenn das Haus voll ist.<br />

Die Küche ist großzügig angelegt, technisch auf dem neuesten Stand, wobei ich mir einen eigenständigen Koch, besser Wirtsleute leiste, die es lieben italienisch zu kochen und haben sich den Namen <a style="color:#bb7264; text-decoration:underline !important;" href="https://www.ristorante-il-corallo.de/">Il Corallo</a> gegeben.<br>

  Sogar die IT-Technologie hat bei mir Einzug gehalten. Wer speziell in der
  Halle sein Spielchen treiben will, kann, soll und muss dies jetzt Online
  buchen.<br />

  Und für die Kinder habe ich mir im Garten eine Spielburg am Spielberg
  angelegt, damit sie den Erwachsenen nicht gelangweilt zwischen die Beine
  laufen.<br />

  Wie ihr also seht, habe ich mich doch anständig herausgeputzt. Auf meinem Kopf
  trage ich dazu noch ein „Solar-Hütchen“ und für den großen (Wasser-)Durst kann
  ich auf einen ergiebigen Brunnen zurückgreifen. Kurzum ich fühle mich wie neu
  geboren, gut aufgestellt und hoffe nur, dass auch ihr es so empfindet.<br />

  Schaut euch um und fühlt euch wohl<br />

  Euer Präsident, <br />
  TCH
</div>
<div class="blog_posts_homepage">
  {% for blogPost in blogPosts %}
  <div class="blog_post">
    <div class="blog_post_card">
      <a
        style="
          color: black;
          display: flex;
          flex-direction: column;
          align-items: center;
        "
        href="/blog/{{blogPost.uuid}}"
        ><h3>{{blogPost.titel}}</h3>
        <img
          {%
          if
          blogPost.bild.url
          !=""
          %}
          src="../../static{{blogPost.bild.url}}"
          {%
          endif
          %}
          alt=""
          style="width: 40%"
      /></a>
      <p>Von {{blogPost.autor}} am {{blogPost.date}}</p>

      <p style="margin: 0">{{blogPost.snippet}}</p>
      <a style="margin-bottom: 5px; color:blue !important;" href="/blog/{{blogPost.uuid}}"
        >Weiterlesen</a
      >
    </div>
  </div>

  {% endfor %}
</div>

{% if termin != None %}

<div class="naechster_termin">
  <div class="termin_card">
    <h1 style="margin-bottom: 10px">Nächster Termin:</h1>
    <h3>{{termin.bezeichnung}}</h3>
    <p>Am {{termin.date}} um {{termin.time}}</p>
    <p>Standort: {{termin.location}}</p>
  </div>
</div>
{% endif %}

<footer>
  <div class="footer">
    
    <ul>
      <li>
        <h3>TC Hallstadt</h3>
      </li>
      <li><a href="verein/team">Team</a></li>
      <li><a href="verein/termine">Termine</a></li>
      <li><a href="verein/anfahrt">Anfahrt</a></li>
    </ul>
    <ul>
      <li>
        <h3>Über uns</h3>
      </li>
      <li>
        
      </li>
      <li><a href="/kontakt">Kontakt</a></li>
      <li><a href="/impressum">Impressum/Datenschutz</a></li>
      <li>
        <a href="https://instagram.com/tchallstadt"
          ><i class="fab fa-instagram"></i> Instagram</a
        >
      </li>
    </ul>
    <ul>
      <h3>Tennis</h3>
      <li><a href="tennis/regeln">Platzregeln</a></li>
      <li><a href="tennis/courts">Courts</a></li>
      <li><a href="tennis/schule">Schule</a></li>
    </ul>
  </div>
  {% if user.is_superuser %}  <a href="/logout"><p>© 2010-2022, Tennis Club Hallstadt - Webmaster</p></a>
  {% else %}
  <a href="/login"><p>© 2010-2022, Tennis Club Hallstadt - Webmaster</p></a>
  {% endif %}

</footer>

<script src="{%static 'js/slide.js'%}"></script>
{% endblock content %}
