{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="teamliste">
    <div class="teamliste_card">
        <img src="{%static 'images/Peter_Popp.jpg'%}" class="team_images">
        <p> Vorstand A </p>
        <div class="teamliste_info">
            <p>
            Peter Popp </p>
            <p>
            0176-20455175 </p>
            

            <a href = "mailto: v1@tc-hallstadt.de"> Mail </a>
        </div>
        

    </div>

    <div class="teamliste_card">
        <img src="{%static 'images/Stephan_Dillig.jpg'%}" class="team_images">
        <p> Vorstand B </p>
        <div class="teamliste_info">
            <p>
            Stephan Dillig </p>
            <p>
                0172-1631373 </p>
            

            <a href = "mailto: v2@tc-hallstadt.de"> Mail </a>
        </div>
    </div>



    <div class="teamliste_card">
        <img src="{%static 'images/Kerstin_Friedmann.jpg'%}" class="team_images">
        <p> Vorstand C (Finanzvorstand) </p>
        <div class="teamliste_info">
            <p>
            Kerstin Friedmann </p>
            <p>
                0176-83027724 </p>
            

            <a href = "mailto: finanzen@tc-hallstadt.de"> Mail </a>
        </div>
    </div>

    <div class="teamliste_card">
        <img src="{%static 'images/Renate_Koenig.jpg'%}" class="team_images">
        <p> Vorstand D (Sportvorstand) </p>
        <div class="teamliste_info">
            <p>
            Renate König </p>
            <p>
                0178-1608933 </p>
            

            <a href = "mailto: sv@tc-hallstadt.de"> Mail </a>
        </div>
    </div>

    <div class="teamliste_card">
        <img src="{%static 'images/Dennis_Luga.jpg'%}" class="team_images">
        <p> 1. Sportwart </p>
        <div class="teamliste_info">
            <p>
            Dennis Luga </p>
            <p>
                0157-588003 </p>
            

            <a href = "mailto: sw@tc-hallstadt.de"> Mail </a>
        </div>
    </div>

    <div class="teamliste_card">
        <img src="{%static 'images/Niklas_Friedmann.jpg'%}" class="team_images">
        <p> 2. Sportwart </p>
        <div class="teamliste_info">
            <p>
            Niklas Friedmann </p>
            <p>
                0151-68833341 </p>
            

            <a href = "mailto: sw@tc-hallstadt.de"> Mail </a>
        </div>
    </div>

    <div class="teamliste_card">
        <img src="{%static 'images/Sandra_Hollmach.jpg'%}" class="team_images">
        <p> Jugendwartin </p>
        <div class="teamliste_info">
            <p>
                Sandra Hollmach </p>
            <p>
                Telefon: 0951-9684212 <br>

                Mobil: 0160-5554235 </p>
            

            <a href = "mailto: jw@tc-hallstadt.de"> Mail </a>
        </div>
    </div>

    <div class="teamliste_card">
        <img src="{%static 'images/Britta_Becker.jpg'%}" class="team_images">
        <p> Medien-
            Verantwortliche </p>
        <div class="teamliste_info">
            <p>
                Britta Becker </p>
            <p>
                Mobil: 0179-2432987 </p>
            

            <a href = "mailto: medien@tc-hallstadt.de"> Mail </a>
        </div>
    </div>

    <div class="teamliste_card">
        <img src="{%static 'images/Hubert_Metzner.jpg'%}" class="team_images">
        <p> 	
            Platzwart </p>
        <div class="teamliste_info">
            <p>
                Dr. Hubert Metzner </p>
            <p>
                Mobil: 0170-4050982 </p>
            

            <a href = "mailto: pw@tc-hallstadt.de"> Mail </a>
        </div>
    </div>

    <div class="teamliste_card">
        <img src="{%static 'images/Bernhard_Metzner.jpg'%}" class="team_images">
        <p> Technikwart </p>
        <div class="teamliste_info">
            <p>
            	
            Bernhard Metzner </p>
            <p>
                Mobil: 0171-2356445 </p>
            

            <a href = "mailto: tw@tc-hallstadt.de"> Mail </a>
        </div>
    </div>

    <div class="teamliste_card">
        <div class="team_images"> </div>
        <p> 
            Oberschiedsrichter </p>
        <div class="teamliste_info">
            <p>
            	
                Thomas Holzenleuchter </p>
            <p>
                Mobil: 0171-8128282 </p>
            

            <a href = "mailto: tw@tc-hallstadt.de"> Mail </a>
        </div>
    </div>

    <div class="teamliste_card">
        <img src="{%static 'images/Sandra_Hollmach.jpg'%}" class="team_images">
        <p> Schriftführerin </p>
        <div class="teamliste_info">
            <p>
                Sandra Hollmach </p>
            <p>
                Telefon: 0951-9684212 <br>

                Mobil: 0160-5554235 </p>
            

            <a href = "mailto: sf@tc-hallstadt.de"> Mail </a>
        </div>
    </div>
    <br><br>
    <div class="teamliste_card">
        <div class="team_images"> </div>
        <p> 
            Ältestenrat </p>
        <div class="teamliste_info">
            <p>Petra Dütsch</p>
            <p>Isolde Wiedener</p>
            <p>Rolf Wangelin</p>
        </div>
    </div>
    <br><br>

    <div class="teamliste_card">
        <div class="team_images"> </div>
        <p> 
            Kassenprüfer </p>
        <div class="teamliste_info">
            <p>Doris Raab</p>
            <p>Monika Sinner</p>
            <p>Bernd Schmoll</p>

            


        </div>
    </div>

</div>



{% endblock content %}