{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="traglufthalle_intro">
<h3> Hans Schinner-Tennishalle </h3>
<p style="font-size:20px;"> Der TC Hallstadt verfügt über eine eigene Tennishalle mit drei Plätzen.
    Der Boden ist ein Teppichboden mit Kunststoffgranulat.
    Beinahe schon Sandplatzfeeling!
</p>
</div>

<div class="traglufthalle">
<img src="{%static 'images/Teppichboden_Halle.jpg'%}" >



<div class="traglufthalle_info">

<h5 > Auskünfte/Abobestellung </h5> 
<p style=" font-size:16px;"> Dieter Bohlein, Schildstr. 77, 96050 Bamberg,
    Telefon: 0951-17545,
    <a style="font-size:16px; color:orange;" href = "mailto: halle@tc-hallstadt.de ">Mail</a> </p>

<h5> Technik/Lichtausfall </h5> 
<p style=" font-size:16px;"> Bernhard Metzner,
    Telefon: 0951-61339, Mobil: 0171-2356445,
    <a style="font-size:16px; color:orange;" href = "mailto: tw@tc-hallstadt.de">Mail</a>
     </p>
     

<h5> Einzelstundenberatung </h5>
<a style="font-size:16px; color:orange;" href="https://tennishalle-hallstadt.de/"> 
    
    Online
    
</a>

<h5>Öffnungszeiten </h5>
<p style=" font-size:16px;">Durchgehend von 8 Uhr bis 24 Uhr. </p>

<h5> Studentenermäßigung</h5>
<p style=" font-size:16px;">1 € für Einzelstunden in der Wintersaison.
    (bei Vorlage eines gültigen Studentenausweises) </p>

<h5> Winterabo</h5>
<p style=" font-size:16px;">	
    September bis April.
    Wenn Plätze frei sind, ist der Einstieg jederzeit möglich. </p>

<h5>Ort </h5>
<p style=" font-size:16px;">TC Hallstadt, 96103 Hallstadt, Max-Brose-Str. 3 </p>

<h5>Bezahlung </h5>
<p style=" font-size:16px;">Abos nach Rechnungstellung vor Beginn der Wintersaison.
    Einzelstunden monatlich mit Rechnungsnachweis per Lastschrift.
    Der Lichtpreis ist enthalten. </p>
<a style="font-size:16px; color:orange; " href="/tennis/courts/teppichboden_preise" > Preise </a>

</div>
</div>
{% endblock content %}