{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
h5{
    border-top:solid;
     border-color:grey;
      border-width:medium;"
}
</style>

<h3> Tragluft-Halle </h3>
<p style="font-size:20px;"> Auf der Anlage des TC Hallstadt steht die von Petr Brezina mit drei Plätzen betriebene Tragluft-Halle.
</p>
<div style="border-bottom:solid; border-width:medium; border-color:grey;">
<img src="{%static 'images/Tragluft_Halle.jpg'%}"  style="width:50%;height:80vh; float:left;">




<h5 > Auskünfte/Abobestellung </h5> 
<p style="margin-left: 15px; font-size:16px;"> Petr Brezina, Bahnhofstr. 35b, 96175 Pettstadt
    Telefon: 0179-9757053,
    <a style="font-size:16px; color:orange;" href = "mailto: traglufthalle@tc-hallstadt.de">Mail</a> </p>

<h5> Technik/Lichtausfall </h5> 
<p style="margin-left:15px; font-size:16px;"> Bernhard Metzner,
    Telefon: 0951-61339, Mobil: 0171-2356445,
    <a style="font-size:16px; color:orange;" href = "mailto: tw@tc-hallstadt.de">Mail</a>
     </p>
     

<h5> Einzelstundenberatung </h5>
<a style="font-size:16px; color:orange;" href="https://tennishalle-hallstadt.de/"> 
    
    Online
    
</a>

<h5>Öffnungszeiten </h5>
<p style="margin-left:15px; font-size:16px;">Durchgehend von 7 Uhr bis 24 Uhr. </p>


<h5> Winterabo</h5>
<p style="margin-left:15px; font-size:16px;">	
    September bis April.
    Wenn Plätze frei sind, ist der Einstieg jederzeit möglich. </p>

<h5>Ort </h5>
<p style="margin-left:15px; font-size:16px;">TC Hallstadt, 96103 Hallstadt, Max-Brose-Str. 3 </p>

<h5>Bezahlung </h5>
<p style="margin-left:15px; font-size:16px;">	
    Abos vor Beginn der Wintersaison.
    Einzelstunden vor Spielbeginn. </p>
<h5 > Preise </h5>
<a style="font-size:16px; color:orange; " href="/tennis/courts/Traglufthalle_preise" > Hier </a>


</div>
{% endblock content %}