{% extends 'base.html' %} {% load static %} {% block content %}
  <div class="slide">
    <img
      class="slideimg"
      name="slide"
    />
    <div class="main-link">
        <h1>Willkommen beim TC Hallstadt</h1>
        <a href="#sitemap"><button class="btn btn-info btn-big" >Legen Sie direkt los. </button></a>
    </div>
  </div>

  <div class="sitemap" id="sitemap">
      <div class="sitemap-card">
        
                <a class="sitemap-link" href="/verein"><button class="btn btn-primary"> Verein       <img class="sitemap-img" src="{%static 'images/ClubHaus_neu_350.jpg'%}" alt="">
    </button></a>

      </div>

      <div class="sitemap-card">
            <a class="sitemap-link" href="/tennis"><button class="btn btn-primary"> Tennis       <img class="sitemap-img" src="{%static 'images/ClubHaus_neu_350.jpg'%}" alt="">
    </button></a>

      </div>

      <div class="sitemap-card">
        <a class="sitemap-link" href="/sitemap"><button class="btn btn-primary"> Sitemap       <img class="sitemap-img" src="{%static 'images/ClubHaus_neu_350.jpg'%}" alt="">
    </button></a>


      </div>
      <div class="sitemap-card">
        <a class="sitemap-link" href="/kontakt"><button class="btn btn-primary"> Kontakt       <img class="sitemap-img" src="{%static 'images/ClubHaus_neu_350.jpg'%}" alt="">
    </button></a>


      </div>
  </div>
<div class="willkommenstext">
  Lieber Gast, <br>

Ich darf mich vorstellen: Mein Name ist TCH, was soviel heißt wie Tennisclub Hallstadt. „der“ weist auf eine gewisse Männlichkeit hin, ohne damit zu sagen, dass bei mir nichts Liebreizendes zu finden wäre – ganz im Gegenteil!<br>

Vom Alter her gehöre ich mit meinen 32 Jahren noch zur jüngeren Generation, fühle mich auch dementsprechend entwicklungsfähig und flexibel. Ich kann es mir weiß Gott noch nicht leisten, aus der Tradition heraus mich sicher und etabliert zu fühlen.<br>

Vor kurzem, genauer gesagt in den Jahren 2006 und 2007 habe ich mir ein neues Outfit zulegen müssen, nachdem mein einstiges Zuhause Feuer fing. Ich habe mich neu, und der Zeit entsprechend modern und attraktiv eingekleidet. Mit einem gewissen selbstbewussten Stolz glaube ich, vom Äußeren sehr dazu gewonnen zu haben. Mein neues Zuhause hat einen offenen Charakter: ein einladendes Entree führt jeden in ein mediterran anmutendes Inneres, von dem aus die Blicke ungehindert auf die vor ihm liegenden Sandplätze schweifen können. Acht an der Zahl schmiegen sie sich an eine Halle, welche nach wie vor ein Kernstück meines Zuhauses, fast bin ich geneigt Schmuckstück zu sagen, darstellt. Farblich steht Terrakotta im Vordergrund, obwohl Blau die eigentliche Hausfarbe, um nicht zu sagen Lieblingsfarbe ist. <br>


Die Küche ist großzügig angelegt, technisch auf dem neuesten Stand, wobei ich mir einen eigenständigen Koch, besser Wirtsleute leiste, die es lieben italienisch zu kochen und haben sich den Namen Il Corallo gegeben.<br>

Sie jedenfalls sind überglücklich, wenn das Haus voll ist.<br>

 

Aber das bin ich auch. Ich lebe ja förmlich von Gästen, die zu einer Familie zusammenwachsen und als begeisterte Sportler und Sportlerinnen mein Umfeld, meine häuslichen Gegebenheiten nutzen wollen. Und sie wissen auch, dass sie hierbei nicht allein gelassen werden.<br>

Sogar die IT-Technologie hat bei mir Einzug gehalten. Wer speziell in der Halle sein Spielchen treiben will, kann, soll und muss dies jetzt Online buchen.<br>

Und für die Kinder habe ich mir im Garten eine Spielburg am Spielberg angelegt, damit sie den Erwachsenen nicht gelangweilt zwischen die Beine laufen.<br>

Wie ihr also seht, habe ich mich doch anständig herausgeputzt. Auf meinem Kopf trage ich dazu noch ein „Solar-Hütchen“ und für den großen (Wasser-)Durst kann ich auf einen ergiebigen Brunnen zurückgreifen. Kurzum ich fühle mich wie neu geboren, gut aufgestellt und hoffe nur, dass auch ihr es so empfindet.<br>

Schaut euch um und fühlt euch wohl<br>


Euer Präsident, <br>
TCH
</div>

 


<script src="{%static 'js/slide.js'%}"></script>
{% endblock content %}
