{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1 style="padding:10px;">Platzregeln</h1>

<div style="padding:10px; font-size: 20px;">
    16 Mannschaften spielen in diesem Jahr für den TC Hallstadt; sie alle wollen trainieren, das erfordert mehr als bisher genaue Einhaltung der Regeln bei der Platzbelegung.

    <br><br>
    Die Platzbelegung muss auf dem Bildschirm im Clubhaus erkennbar sein; keiner spielt ohne reguläre Belegung des Platzes!

    <br><br>
    Zunächst sollte als Grundsatz gelten: alle Spieler, die die Möglichkeit haben, vor 18.00, noch besser vor 17.00 Uhr ihr Einzel oder Doppel auszutragen, sollten das unbedingt tun.
    <br>
    Ab 17.00 Uhr sind die Plätze den berufstätigen Mitgliedern vorbehalten. (Ausnahme: die Trainerplätze)

    <br><br>
    Trainingsplätze für die Mannschaften sind für die Zeit der Medenspiele (Ende April bis Ende Juli) fest eingerichtet, danach wird die Reservierung entfernt.
    <br>
    Die Mitglieder der Mannschaften haben auch dann ein Anrecht auf die Plätze, wenn sie zu spät kommen.

    <br><br>
    Für das Mannschaftstraining dürfen keine zusätzlichen Plätze reserviert werden!

    <br><br>
    Die wenigen Plätze, die nicht von Mannschaften belegt sind, dürfen ab 18.00 Uhr nur für eine Stunde (Einzel) reserviert werden; auch das Eintragen vorgeblicher Nachfolger ist in diesem Zeitraum nicht gestattet. Länger als eine Stunde kann auch zu weniger belebten Zeiten nur dann gespielt werden, wenn kein Nachfolger den Platz beansprucht.
    <br>
    Ein von Freizeitspielern reservierter Platz darf nach 10-minütiger Wartezeit auch von anderen genutzt werden.

    <br><br>
    Selbstverständlich sollte für alle Spieler die Pflege der Plätze sein:
    Vor dem Spiel: Der Platz darf nie in staubstrockenem Zustand bespielt werden.
    Nachher: Der Platz wird abgezogen, bei Bedarf gewässert und die Linien werden gekehrt.

    <br><br>
    Wir behalten uns vor, alle zu korrigieren, die sich nicht an diese Regeln halten.
    <br><br>
    Die Vorstandschaft
</div>

<a style="padding:10px; font-size: 20px;" href="{%static 'images/PlatzbelegungsRegeln.pdf'%}"> Platzbelegungs-Regeln als PDF-Dokument </a>



{% endblock content %}